name: Pre-release Model Service
on:
  push:
    branches-ignore:
      - "main"

jobs:
  prerelease:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate unique prerelease tag
        id: prerelease_tag
        run: |
          FULL_VERSION=$(cat VERSION )
          FULL_VERSION=${FULL_VERSION#v}
          VERSION_BASE=$(echo $FULL_VERSION | cut -d - -f 1)

          BRANCH_NAME=$(echo ${{ github.ref_name }} | sed 's/\//-/g')

          TIMESTAMP=$(date +%y%m%d-%H%M%S)

          PRERELEASE_TAG="${VERSION_BASE}-${TIMESTAMP}-${BRANCH_NAME}"

          echo "Generated prerelease tag: $PRERELEASE_TAG"
          echo "tag=$PRERELEASE_TAG" >> $GITHUB_OUTPUT

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=${{ steps.prerelease_tag.outputs.tag }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}