name: Release Model Serivce
on: 
  push:
    branches: ["main"]
jobs:
  release:
    runs-on: ubuntu-24.04
    permissions: write-all
    steps:
    - uses: actions/checkout@v4
    - name: Parse version info from VERSION file
      run: |
        VERSION=$(cat VERSION)
        VERSION=${VERSION#v}
        MAJOR=$(echo "$VERSION" | cut -d . -f 1)
        MINOR=$(echo "$VERSION" | cut -d . -f 2)
        PATCH=$(echo "$VERSION" | cut -d . -f 3)
        echo "version=$VERSION" >> $GITHUB_ENV
        echo "version_major=$MAJOR" >> $GITHUB_ENV
        echo "version_minor=$MINOR" >> $GITHUB_ENV
        echo "version_patch=$PATCH" >> $GITHUB_ENV
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}
    - run: |
        IMG="ghcr.io/${{github.repository}}"
        IMG=${IMG@L} # lower case the image
        docker build \
        --tag $IMG:${{ env.version }} \
        --tag $IMG:${{ env.version_major }}.${{ env.version_minor }}.latest \
        --tag $IMG:${{ env.version_major }}.latest \
        --tag $IMG:latest \
        .
        docker push --all-tags $IMG
